<footer class="w-full items-center justify-between py-5 bg-f">
  <div class="w-fit items-center justify-start gap-5 follow">
    <a href="https://instagram.com/Doc_Apoi" target="_blank" class="text-b text-4xl flex items-center justify-center">
      <i class="hgi hgi-stroke hgi-instagram"></i>
    </a>
    <a href="https://t.me/Doc_Apoi" target="_blank" class="text-b text-4xl flex items-center justify-center">
      <i class="hgi hgi-stroke hgi-telegram"></i>
    </a>
    <a href="https://tiktok.com/@Doc_Apoi" target="_blank" class="text-b text-4xl flex items-center justify-center">
      <i class="hgi hgi-stroke hgi-tiktok"></i>
    </a>
    <a href="https://twitter.com/Doc_Apoi" target="_blank" class="text-b text-4xl flex items-center justify-center">
      <i class="hgi hgi-stroke hgi-new-twitter"></i>
    </a>
    <a href="https://youtube.com/Doc_Apoi" target="_blank" class="text-b text-4xl flex items-center justify-center">
      <i class="hgi hgi-stroke hgi-youtube"></i>
    </a>
  </div>
  <p class="text-lg text-d font-medium">All Rights Reserved <span
      class="underline underline-offset-4">&copy;Doc_Apoi</span> <span id="date"></span></p>
  <ul class="w-fit items-center justify-end gap-3.5 font-medium">
    <li class="text-t capitalize">
      <a href="#">about us</a>
    </li>
    <li class="text-t capitalize">
      <a href="#">our policy</a>
    </li>
    <li class="text-t capitalize">
      <a href="#">contact us</a>
    </li>
    <li class="text-t capitalize">
      <a href="https://www.flaticon.com/free-icons/stethoscope" title="stethoscope icons">tuktukdesign</a>
    </li>
  </ul>
</footer>

<!-- my javascript code-->
<script src="/static/main.js"></script>

<!-- CDN link to swiperjs -->
<script src="/static/js/swiper-element-bundle.min.js"></script>
</body>

</html>
