<footer class="w-full justify-between bg-d">
  <div class="w-1/3 flex-col justify-between gap-9">
    <div id="title" class="w-fit items-center gap-1.5">
      <img src="../static/imgs/pngs/logo.png" alt="Doc_Apoi logo" class="w-9">
      <h3 class="text-3xl text-w font-extrabold">Doc_Apoi</h3>
    </div>
    <p class="text-f opacity-75">Revolutionizing Healthcare with Remote Services. Your Partner for Virtual
      Consultations. Empowering Patients Worldwide.</p>
    <div class="w-fit items-center justify-start gap-5 follow">
      <a href="https://instagram.com/Doc_Apoi" class="text-l text-4xl flex items-center justify-center">
        <i class="ph ph-instagram-logo"></i>
      </a>
      <a href="https://t.me/Doc_Apoi" class="text-l text-4xl flex items-center justify-center">
        <i class="ph ph-telegram-logo"></i>
      </a>
      <a href="https://twitter.com/Doc_Apoi" class="text-l text-4xl flex items-center justify-center">
        <i class="ph ph-twitter-logo"></i>
      </a>
    </div>
  </div>
  <div class="w-fit justify-end gap-9">
    <div class="w-fit flex-col gap-3.5">
      <h6 class="text-w text-2xl font-bold">Company</h6>
      <ul class="flex-col pl-2.5 gap-0.5">
        <li class="text-f capitalize">
          <a href="#">about us</a>
        </li>
        <li class="text-f capitalize">
          <a href="#">consultation</a>
        </li>
        <li class="text-f capitalize">
          <a href="#">our services</a>
        </li>
        <li class="text-f capitalize">
          <a href="#">privacy policy</a>
        </li>
      </ul>
    </div>
    <div class="w-fit flex-col gap-3.5">
      <h6 class="text-w text-2xl font-bold">Articles</h6>
      <ul class="flex-col pl-2.5 gap-0.5">
        <li class="text-f capitalize">
          <a href="#">trending</a>
        </li>
        <li class="text-f capitalize">
          <a href="#">newest</a>
        </li>
      </ul>
    </div>
    <div class="w-fit flex-col gap-3.5">
      <h6 class="text-w text-2xl font-bold">Support</h6>
      <ul class="flex-col pl-2.5 gap-0.5">
        <li class="text-f capitalize">
          <a href="#">contact us</a>
        </li>
        <li class="text-f capitalize">
          <a href="#">forums</a>
        </li>
        <li class="text-f capitalize">
          <a href="https://www.flaticon.com/free-icons/mri" target="_blank">Sponsor</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--
    <a href="https://www.flaticon.com/free-icons/mri" title="mri icons">Mri icons created by B.Genesis - Flaticon</a>
  -->

<!-- my javascript code-->
<script src="../static/main.js"></script>
</body>

</html>
