{{ template "head" . }}

<body>

  <header class="sticky top-0 left-0 w-full items-center justify-between bg-f py-3.5 z-[1000]">
    <div id="title" class="w-fit items-center gap-1">
      <img src="/static/imgs/pngs/doc_apoi.png" alt="Doc_Apoi logo" class="w-10">
      <h3 class="text-4xl text-b font-extrabold mono">Doc_Apoi</h3>
    </div>

    <nav class="w-fit items-center justify-center gap-5">
      <a href="#" class="text-lg">Home</a>
      <a href="/dashboard" hx-boost="true" class="text-lg">Doctors</a>
      <a href="#treatment" class="text-lg">Treatment</a>
      <a href="#appointments" class="text-lg">Appointments</a>
      <a href="#blogs" class="text-lg">Articles</a>
    </nav>
  </header>
