<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- link to favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/pngs/doc-apoi.png">

  <!-- link to google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Mozilla+Headline:wght@200..700&display=swap"
    rel="stylesheet">

  <!-- linkto tailwindcss -->
  <link rel="stylesheet" href="/static/dist/main.css">

  <!-- link to huge-icons -->
  <link rel="stylesheet" href="/static/icons/icons.css">

  <!-- htmx & alpine js -->
  <script src="/static/js/htmx.min.js" defer></script>
  <script src="/static/js/alpine.min.js" defer></script>
  <!-- <script src="/static/js/chart.js" defer type="module"></script> -->

  <!-- title of the page -->
  <title>Doc_Apoi</title>
</head>

<body class="flex items-center justify-center bg-w">
  <div id="docdash" class="w-full h-screen grid gap-3.5 p-3.5 bg-w">
    <header id="dochead"
      class="w-full col-span-2 col-start-2 flex items-center justify-between gap-9 p-3 rounded-xl bg-f">
      <div class="w-fit items-center justify-between gap-5">
        <a href="/doctors/{{normalize .Doctor.Name}}" hx-boost="true"
          class="text-base text-start text-w py-2.5 px-7 rounded-2xl bg-b hover:text-w hover:bg-b">Overview</a>
        <a href="/doctors/{{normalize .Doctor.Name}}/patients" hx-boost="true"
          class="text-base text-start text-w py-2.5 px-7 rounded-2xl bg-b hover:text-w hover:bg-b">Patients</a>
        <a href="/doctors/{{normalize .Doctor.Name}}/records" hx-boost="true"
          class="text-base text-start text-w py-2.5 px-7 rounded-2xl bg-b hover:text-w hover:bg-b">Records</a>
      </div>

      <div class="w-fit items-center gap-0">
        <img src="/static/imgs/pngs/doc_apoi.png" alt="Doc_Apoi logo"
          class="w-9 aspect-square object-cover object-center rounded-lg">
        <h1 class="text-3xl text-start text-b font-bold">Doc_Apoi</h1>
      </div>
    </header>

    <aside id="docside" class="h-full col-span-1 col-start-1 grid gap-3.5 p-3.5 rounded-xl bg-f">
      <div class="w-full flex-col items-center justify-center gap-1">
        <img src="{{ .Doctor.Avatar }}" alt="profile pic or avatar of Dr. {{ .Doctor.Name }}"
          class="w-24 aspect-square rounded-3xl object-cover object-center">
        <h3 class="mt-2.5 text-lg text-start text-d font-medium leading-none">{{ .Doctor.Name }}</h3>
        <p class="text-base text-start text-t font-normal capitalize">{{ .Doctor.Title }}</p>
      </div>

      <div class="w-full h-full flex-col items-center justify-center gap-3.5">
        <div class="w-full grid grid-cols-2 gap-3.5">
          <div class="w-full aspect-[5/4] flex-col items-start justify-start gap-1.5 p-2.5 rounded-xl bg-w">
            <div class="w-11 aspect-square flex-col items-center justify-center rounded-xl bg-b">
              <i class="text-3xl text-w hgi hgi-stroke hgi-patient"></i>
            </div>
            <div class="w-full items-end justify-between gap-1">
              <div class="w-full flex-col items-start justify-center gap-1">
                <h4 class="text-lg text-b font-bold">137</h4>
                <p class="text-xs text-t">All&nbsp;Patients</p>
              </div>
              <h3 class="text-sm text-b font-medium">+11%</h3>
            </div>
          </div>
          <div class="w-full aspect-[5/4] flex-col items-start justify-start gap-1.5 p-2.5 rounded-xl bg-w">
            <div class="w-11 aspect-square flex-col items-center justify-center rounded-xl bg-b">
              <i class="text-3xl text-w hgi hgi-stroke hgi-appointment-01"></i>
            </div>
            <div class="w-full items-end justify-between gap-1">
              <div class="w-full flex-col items-start justify-center gap-1">
                <h4 class="text-lg text-b font-bold">231</h4>
                <p class="text-xs text-t">Appointments</p>
              </div>
              <h3 class="text-sm text-b font-medium">+07%</h3>
            </div>
          </div>
        </div>

        <div class="w-full aspect-square flex flex-col items-start justify-between gap-3.5 p-2.5 rounded-xl bg-w">
          <h3 class="text-lg text-d font-bold">Appointments</h3>

          <div class="relative w-full flex-col items-center justify-center gap-2.5">
            <canvas id="graph" class="w-48 aspect-square flex items-center justify-center"></canvas>
            <span
              class="absolute top-1/2 bottom-1/2 left-1/2 right-1/2 w-16 aspect-square flex flex-col items-center justify-center rounded-full bg-f z-50">
              <span class="text-xl text-b/75 text-center font-bold font-['Mozilla_Headline'] leading-none">231</span>
              <span class="text-sm text-b/75 text-center font-normal">Total</span>
            </span>
            <div class="w-full flex items-center justify-center gap-9">
              <div class="w-fit items-center justify-start gap-1.5">
                <span class="w-3 aspect-square rounded-full bg-b/65"></span>
                <p class="text-d">Online</p>
              </div>
              <div class="w-fit items-center justify-start gap-1.5">
                <span class="w-3 aspect-square rounded-full bg-b/25"></span>
                <p class="text-d">Offline</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex-col items-start justify-between gap-1 p-2.5 rounded-xl bg-w">
        <h3 class="text-lg text-start text-d font-bold">New Appointments</h3>
        <div class="w-full flex-col items-center justify-start gap-1.5">
          <button class="w-full text-w px-7 py-3 rounded-3xl bg-b">Edit List</button>
          <div class="w-full items-center justify-start gap-2.5 overflow-x-scroll snap-mandatory">
          </div>
        </div>
      </div>
    </aside>

    <main id="docmain" class="h-full col-span-2 col-start-2 p-3.5 rounded-xl bg-f"></main>
  </div>

  <script type="module" src="/static/js/chart.js"></script>
</body>

</html>
