{{ template "head" }}

<body class="relative flex items-center justify-center bg-d">
  <main class="w-full h-rull aspect-[16/10] flex items-center justify-between gap-5 p-5 bg-w overflow-hidden">

    <div id="dashboard" class="relative w-full h-full flex-col items-center justify-start gap-5 p-0">
      <nav class="relative w-full flex items-center justify-between">
        <div class="w-fit items-center gap-2.5">
          <img src="/static/imgs/pngs/doc_apoi.png" alt="" class="w-9 object-cover object-center rounded-lg">
          <h1 class="text-3xl text-start text-b font-bold">Doc_Apoi</h1>
        </div>

        <div id="menu-show" role="button" class="w-12 aspect-square items-center justify-center rounded-full bg-w">
          <i class="hgi hgi-stroke hgi-menu-circle text-3xl text-b"></i>
        </div>
      </nav>
    </div>
  </main>
</body>
