<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=1280">

  <!-- link to favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/pngs/doc_apoi.png">

  <!-- link to google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Mozilla+Headline:wght@200..700&display=swap"
    rel="stylesheet">

  <!-- linkto tailwindcss -->
  <link rel="stylesheet" href="/static/dist/style.css">

  <!-- link to huge-icons -->
  <link rel="stylesheet" href="/static/icons/icons.css">

  <!-- htmx & alpine js -->
  <script src="/static/js/htmx.min.js" defer></script>
  <script src="/static/js/alpine.min.js" defer></script>

  <!-- title of the page -->
  <title>Doc_Apoi - Doctor {{if eq .Mode "login"}}Login{{else}}Registration{{end}}</title>
</head>

<body class="w-full h-screen flex flex-col items-center justify-center">
  {{if eq .Mode "login"}}
  <!-- doctor login form -->
  <div class="relative w-full h-full flex-col items-center justify-center gap-7 bg-w">
    <h1 class="text-4xl text-center text-d font-bold">Doctor Login Form</h1>
    <form method="post" enctype="multipart/form-data"
      class="relative min-w-[65%] max-w-[85%] h-fit mt-11 flex-col items-center justify-center gap-7 rounded-[2.25rem] px-7 py-11"
      hx-post="/doctors/login" hx-swap="none" hx-encoding="multipart/form-data" hx-trigger="submit" x-data="{
      email: '',
      password: '',
      isValidPassword() {
      return this.password.length >= 6 &&
        /[A-Z]/.test(this.password) &&
        /[a-z]/.test(this.password) &&
        /[0-9]/.test(this.password) &&
        /[!@#$%^&*()_+\-=\[\]{}|;:,.<>?]/.test(this.password);
      },
      hasUppercase() { return /[A-Z]/.test(this.password); },
      hasLowercase() { return /[a-z]/.test(this.password); },
      hasNumber() { return /[0-9]/.test(this.password); },
      hasSymbol() { return /[!@#$%^&*()_+\-=\[\]{}|;:,.<>?]/.test(this.password); },
    }">
      <div class="w-full flex-col gap-1">
        <label for="email">Enter your email</label>
        <input type="email" id="email" name="email" x-model="email"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': !email.includes('@') && email.length > 13 }">
        <p x-show="!email.includes('@') && email.length > 13" class="text-red-600 text-xs font-medium">Invalid email</p>
      </div>
      <div class="w-full flex-col gap-1">
        <label for="password">Enter secure password</label>
        <input type="password" id="password" name="password" x-model="password"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': password.length >= 6 && !isValidPassword() }">
        <div class="flex-col text-sm text-red-600 font-medium mt-2">
          <p x-show="password.length > 0 && password.length < 6">At least 6 characters<span
              x-show="password.length >= 6 && !hasUppercase()">, an uppercase letter</span><span
              x-show="password.length >= 6 && !hasLowercase()">, a lowercase letter</span><span
              x-show="password.length >= 6 && !hasNumber()">, a number</span><span
              x-show="password.length >= 6 && !hasSymbol()">, a symbol</span>.
          </p>
          <p x-show="isValidPassword()" class="text-green-500">Password is secure</p>
        </div>
      </div>
      <input type="submit" class="w-full bg-b text-w py-3.5 rounded-lg max-w-[360px] hover:bg-blue-600"
        x-bind:disabled="!isValidPassword() || !email.includes('@')"
        x-bind:class="{ 'opacity-50 cursor-not-allowed': !isValidPassword() || !email.includes('@')}"
        value="Login Doctor">
    </form>

    <p class="mt-9 text-lg text-center font-medium w-full flex items-center justify-center gap-2">
      <span class="text-t/70">Don't have an account</span>
      <a href="/doctors?mode=register" hx-boost="true" class="text-b underline">Register here</a>
    </p>
  </div>

  {{else}}
  <div class="relative w-full h-full flex-col items-center justify-center gap-7 bg-w">
    <h1 class="text-4xl text-center text-d font-bold">Doctor Registration Form</h1>
    <!-- doctor registration form -->
    <form method="post" enctype="multipart/form-data"
      class="relative min-w-[65%] max-w-[85%] h-fit mt-11 grid grid-cols-2 items-center justify-center gap-7 rounded-[2.25rem] px-7 py-11"
      hx-post="/doctors/register" hx-encoding="multipart/form-data" hx-swap="none" hx-trigger="submit" x-data="{
      name: '',
      location: '',
      email: '',
      password: '',
      repassword: '',
      isValidPassword() {
      return this.password.length >= 6 &&
        /[A-Z]/.test(this.password) &&
        /[a-z]/.test(this.password) &&
        /[0-9]/.test(this.password) &&
        /[!@#$%^&*()_+\-=\[\]{}|;:,.<>?]/.test(this.password);
      },
      hasUppercase() { return /[A-Z]/.test(this.password); },
      hasLowercase() { return /[a-z]/.test(this.password); },
      hasNumber() { return /[0-9]/.test(this.password); },
      hasSymbol() { return /[!@#$%^&*()_+\-=\[\]{}|;:,.<>?]/.test(this.password); },
      passwordsMatch() {
        return this.password === this.repassword && this.repassword.length > 0;
      }
    }">
      <div class="w-full flex-col gap-1">
        <label for="name">Enter your fullname</label>
        <input type="text" id="name" name="name" x-model="name"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': name.length < 2 && name.length > 0 }">
        <p x-show="name.length < 2 && name.length > 0" class="text-red-600 text-xs font-medium">Name must be at least 2
          characters</p>
      </div>
      <div class="w-full flex-col gap-1">
        <label for="location">Enter work location</label>
        <input type="text" id="location" name="location" x-model="location"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': location.length < 2 && location.length > 0 }">
        <p x-show="location.length < 2 && location.length > 0" class="text-red-600 text-xs font-medium">Location must be
          at least 2
          characters</p>
      </div>
      <div class="w-full flex-col gap-1">
        <label for="email">Enter your email</label>
        <input type="email" id="email" name="email" x-model="email"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': !email.includes('@') && email.length > 13 }">
        <p x-show="!email.includes('@') && email.length > 13" class="text-red-600 text-xs font-medium">Invalid email</p>
      </div>
      <div class="w-full flex-col gap-1">
        <label for="password">Enter secure password</label>
        <input type="password" id="password" name="password" x-model="password"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': password.length >= 6 && !isValidPassword() }">
        <div class="flex-col text-sm text-red-600 font-medium mt-2">
          <p x-show="password.length > 0 && password.length < 6">At least 6 characters<span
              x-show="password.length >= 6 && !hasUppercase()">, an uppercase letter</span><span
              x-show="password.length >= 6 && !hasLowercase()">, a lowercase letter</span><span
              x-show="password.length >= 6 && !hasNumber()">, a number</span><span
              x-show="password.length >= 6 && !hasSymbol()">, a symbol</span>.
          </p>
          <p x-show="isValidPassword()" class="text-green-500">Password is secure</p>
        </div>
      </div>
      <div class="w-full flex-col gap-1">
        <label for="repassword">Re-enter secure password</label>
        <input type="password" id="repassword" name="repassword" x-model="repassword"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none"
          x-bind:disabled="!isValidPassword()"
          x-bind:class="{ 'outline-red-600': repassword.length === password.length && !passwordsMatch() }">
        <div class="flex-col text-sm mt-2">
          <p x-show="isValidPassword() && repassword.length === password.length && !passwordsMatch()"
            class="text-red-600 font-medium">
            Passwords must be the same</p>
          <p x-show="passwordsMatch()" class="text-green-500 font-medium">Passwords match</p>
        </div>
      </div>
      <div class="w-full flex-col gap-1">
        <label for="skill">Enter your skill</label>
        <select id="skill" name="skill" required
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none max-w-[360px]">
          <option value="" selected>--select your skill</option>
          <option value="allergy">Allergy</option>
          <option value="anaesthesiology">Anaesthesiology</option>
          <option value="audiology">Audiology</option>
          <option value="cardiology">Cardiology</option>
          <option value="dentistry">Dentistry</option>
          <option value="dermatology">Dermatology</option>
          <option value="gastroenterology">Gastroenterology</option>
          <option value="geriatrics">Geriatrics</option>
          <option value="gynaecology">Gynaecology</option>
          <option value="nephrology">Nephrology</option>
          <option value="neurology">Neurology</option>
          <option value="nutrition">Nutrition</option>
          <option value="oncology">Oncology</option>
          <option value="opthalmology">Opthalmology</option>
          <option value="orthodontics">Orthodontics</option>
          <option value="othopaedics">Othopaedics</option>
          <option value="otolaryngology">Otolaryngology</option>
          <option value="pathology">Pathology</option>
          <option value="pediatrics">Pediatrics</option>
          <option value="pharmacy">Pharmacy</option>
          <option value="psychiatry">Psychiatry</option>
          <option value="pulmonology">Pulmonology</option>
          <option value="radiology">Radiology</option>
          <option value="rheumatology">Rheumatology</option>
          <option value="urology">Urology</option>
        </select>
      </div>
      <div class="w-full flex-col gap-1">
        <label for="title">Enter your title</label>
        <select id="title" name="title" required
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none max-w-[360px]">
          <option value="" selected>--select your title</option>
          <option value="allergist">Allergist</option>
          <option value="anaesthesiologist">Anaesthesiologist</option>
          <option value="audiologist">Audiologist</option>
          <option value="cardiologist">Cardiologist</option>
          <option value="dentistist">Dentistist</option>
          <option value="dermatologist">Dermatologist</option>
          <option value="gastroenterologist">Gastroenterologist</option>
          <option value="geriatrician">Geriatrician</option>
          <option value="gynaecologist">Gistnaecology</option>
          <option value="nephrologist">Nephrologist</option>
          <option value="neurologist">Neurologist</option>
          <option value="nutrition">Nutrition</option>
          <option value="oncologist">Oncologist</option>
          <option value="opthalmologist">Opthalmologist</option>
          <option value="orthodontist">Orthodontist</option>
          <option value="othopaedist">Othopaedist</option>
          <option value="otolaryngologist">Otolaryngologist</option>
          <option value="pathologist">Pathologist</option>
          <option value="pediatrician">Pediatrician</option>
          <option value="pharmacist">Pharmacist</option>
          <option value="psychiatrist">Psychiatrist</option>
          <option value="pulmonologist">Pulmonologist</option>
          <option value="radiologist">Radiologist</option>
          <option value="rheumatologist">Rheumatologist</option>
          <option value="urologist">Urologist</option>
        </select>
      </div>
      <div class="w-full flex-col gap-1">
        <label for="avatar">Upload your avatar</label>
        <input type="file" id="avatar" name="avatar" accept="image/jpeg, image/jpg, image/png, image/webp, image/gif"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none">
      </div>
      <input type="submit" class="w-full bg-b text-w py-3.5 rounded-lg hover:bg-blue-600"
        x-bind:disabled="!isValidPassword() || name.length < 2 || !email.includes('@') || !passwordsMatch()"
        x-bind:class="{ 'opacity-50 cursor-not-allowed': !isValidPassword() || name.length < 2 || !email.includes('@') || !passwordsMatch() }"
        value="Register Doctor">
    </form>

    <p class="mt-9 text-lg text-center font-medium w-full flex items-center justify-center gap-2">
      <span class="text-t/70">Already have an account</span>
      <a href="/doctors?mode=login" hx-boost="true" class="text-b underline">Login here</a>
    </p>
  </div>
  {{end}}

  <!-- my javascript code-->
  <script src="/static/main.js"></script>
</body>

</html>
