<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=1280">

  <!-- link to favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/imgs/pngs/doc_apoi.png">

  <!-- link to google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Mozilla+Headline:wght@200..700&display=swap"
    rel="stylesheet">

  <!-- linkto tailwindcss -->
  <link rel="stylesheet" href="/static/dist/style.css">

  <!-- link to huge-icons -->
  <link rel="stylesheet" href="/static/icons/icons.css">

  <!-- htmx & alpine js -->
  <script src="/static/js/htmx.min.js" defer></script>
  <script src="/static/js/alpine.min.js" defer></script>

  <!-- title of the page -->
  <title>Doc_Apoi - Patients' {{if eq .Mode "login"}}Login{{else}}Registration{{end}}</title>
</head>

<body class="w-full h-screen flex flex-col items-center justify-center">
  {{if eq .Mode "login"}}
  <!-- patient login form -->
  <div class="relative w-full h-full flex-col items-center justify-center gap-7 bg-w">
    <h1 class="text-4xl text-center text-d font-bold">Patients' Login Form</h1>
    <form method="post"
      class="relative min-w-[65%] max-w-[85%] h-fit mt-11 flex-col items-center justify-center gap-7 rounded-[2.25rem] px-7 py-11"
      hx-post="/patients/login" hx-swap="none" hx-trigger="submit" x-data="{
      email: '',
      contact: '',
      district: '',
    }">
      <div class="w-fit flex-col items-start justify-center gap-1">
        <label for="email">Enter your email</label>
        <input type="email" id="email" name="email" x-model="email"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': !email.includes('@') && email.length > 13 }">
        <p x-show="!email.includes('@') && email.length >= 13" class="text-red-600 text-xs font-medium">Invalid email
        </p>
      </div>
      <div class="w-fit flex-col items-start justify-center gap-1">
        <label for="contact">Enter your contact</label>
        <input type="tel" id="contact" name="contact" x-model="contact"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': contact.length < 10 && contact.length > 0 }">
        <p x-show="contact.length < 10 && contact.length > 0" class="text-red-600 text-xs font-medium">Contact must be
          at least 10 digits</p>
      </div>
      <div class="w-fit flex-col items-start justify-center gap-1">
        <label for="district">Enter your district</label>
        <input type="text" id="district" name="district" x-model="district"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': district.length < 2 && district.length > 0 }">
        <p x-show="district.length < 2 && district.length > 0" class="text-red-600 text-xs font-medium">District must be
          at least 2 characters</p>
      </div>
      <input type="submit" class="w-full bg-b text-w py-3.5 rounded-lg max-w-[360px] hover:brightness-75"
        x-bind:disabled="!email.includes('@') || contact.length < 10 || district.length < 2"
        x-bind:class="{ 'opacity-50 cursor-not-allowed': !email.includes('@') || contact.length < 10 || district.length < 2}"
        value="Login Patient">
    </form>

    <p class="mt-9 text-lg text-center font-medium w-full flex items-center justify-center gap-2">
      <span class="text-t/70">Don't have an account</span>
      <a href="/patients?mode=register" hx-boost="true" class="text-b underline">Register here</a>
    </p>
  </div>

  {{else}}
  <div class="relative w-full h-full flex-col items-center justify-center gap-7 bg-w">
    <h1 class="text-4xl text-center text-d font-bold">Patients' Registration Form</h1>
    <!-- patient registration form -->
    <form method="post"
      class="relative min-w-[65%] max-w-[85%] h-fit mt-11 grid grid-cols-2 items-center justify-center gap-7 rounded-[2.25rem] px-7 py-11"
      hx-post="/patients/register" hx-swap="none" hx-trigger="submit" x-data="{
        name: '',
        email: '',
        age: '',
        contact: '',
        district: '',
      }">
      <div class="w-fit flex-col items-start justify-center gap-1">
        <label for="name">Enter your fullname</label>
        <input type="text" id="name" name="name" x-model="name"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': name.length < 2 && name.length > 0 }">
        <p x-show="name.length < 2 && name.length > 0" class="text-red-600 text-xs font-medium">Name must be at least 2
          characters</p>
      </div>
      <div class="w-fit flex-col items-start justify-center gap-1">
        <label for="email">Enter your email</label>
        <input type="email" id="email" name="email" x-model="email"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': !email.includes('@') && email.length > 13 }">
        <p x-show="!email.includes('@') && email.length > 13" class="text-red-600 text-xs font-medium">Invalid email</p>
      </div>
      <div class="w-fit flex-col items-start justify-center gap-1">
        <label for="age">Enter your age</label>
        <input type="number" id="age" name="age" x-model="age"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': age.length > 0 && age === 0 }">
        <p x-show="age.length > 0 && age === 0" class="text-red-600 text-xs font-medium">Age must be greater than 0</p>
      </div>
      <div class="w-fit flex-col items-start justify-center gap-1">
        <label for="contact">Enter your contact</label>
        <input type="tel" id="contact" name="contact" x-model="contact"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': contact.length < 10 && contact.length > 0 }">
        <p x-show="contact.length < 10 && contact.length > 0" class="text-red-600 text-xs font-medium">Contact must be
          at least 10 digits</p>
      </div>
      <div class="w-fit flex-col items-start justify-center gap-1">
        <label for="district">Enter your district</label>
        <input type="text" id="district" name="district" x-model="district"
          class="text-d text-base px-5 py-2.5 rounded-lg outline outline-2 outline-d border-none" required
          x-bind:class="{ 'outline-red-600': district.length < 2 && district.length > 0 }">
        <p x-show="district.length < 2 && district.length > 0" class="text-red-600 text-xs font-medium">District must be
          at least 2 characters</p>
      </div>
      <input type="submit" class="w-full bg-b text-w py-3.5 rounded-lg max-w-[360px] hover:brightness-75"
        x-bind:disabled="name.length < 2 || !email.includes('@') || age <= 0 || contact.length < 10 || district.length < 2"
        x-bind:class="{ 'opacity-50 cursor-not-allowed': name.length < 2 || !email.includes('@') || age <= 0 || contact.length < 10 || district.length < 2 }"
        value="Register Patient">
    </form>

    <p class="mt-9 text-lg text-center font-medium w-full flex items-center justify-center gap-2">
      <span class="text-t/70">Already have an account</span>
      <a href="/patients?mode=login" hx-boost="true" class="text-b underline">Login here</a>
    </p>
  </div>
  {{end}}

  <!-- my javascript code-->
  <script src="/static/main.js"></script>
</body>

</html>
